body{
    background-color: #ffffff;
}

h1{
   padding-left: 20px;
}

#banner{
    width: 100%;
}

.principal{
    background-color: #cccccc;
    padding: 30px;
}

.titulocentral{
    text-align: center;
}

p{
    text-align: center;
}

#missao{
    font-size: 20px;
}

p em strong{
    color: red;
}

.itens {
    font-style: italic;
}

.beneficios{
    background-color: #ffffff;
    padding: 20px;
}

ul{
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 15%;
}

#imgbene{
    width: 50%;
}

.util {
    width: 150px;
}